.gh-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  border-bottom: 1px solid #d0d7de;
  background: #f6f8fa;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 32px;
  border-radius: 50%;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

ul li {
  cursor: pointer;
  color: #57606a;
}

ul li.active {
  font-weight: 600;
  color: #24292f;
}

.right .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
